$tema: #ffb400;
$tema-light: #d2980d;
$tema-dark: #a57c1b;
$tema-contrast: #786028;
$tema-contrast-light: #363445;
$tema-contrast-dark: #48446e;
$tema-contrast-text: #5e569b;
$tema-contrast-text-light: #776bcd;
$tema-contrast-text-dark: #9080ff;

$blue-gray-50: #eceff1;
$blue-gray-100: #cfd8dc;
$blue-gray-200: #b0bec5;
$blue-gray-300: #90a4ae;
$blue-gray-400: #78909c;
$blue-gray-500: #607d8b;
$blue-gray-600: #546e7a;
$blue-gray-700: #455a64;
$blue-gray-800: #37474f;
$blue-gray-900: #263238;

$indigo-50: #e8eaf6;
$indigo-100: #c5cae9;
$indigo-200: #9fa8da;
$indigo-300: #7986cb;
$indigo-400: #5c6bc0;
$indigo-500: #3f51b5;
$indigo-600: #3949ab;
$indigo-700: #303f9f;
$indigo-800: #283593;
$indigo-900: #1a237e;
$indigo-1000: #08082e;
$indigo-a100: #8c9eff;
$indigo-a200: #536dfe;
$indigo-a400: #3d5afe;
$indigo-a700: #304ffe;

$light-blue-50: #e1f5fe;
$light-blue-100: #b3e5fc;
$light-blue-200: #81d4fa;
$light-blue-300: #4fc3f7;
$light-blue-400: #29b6f6;
$light-blue-500: #03a9f4;
$light-blue-600: #039be5;
$light-blue-700: #0288d1;
$light-blue-800: #0277bd;
$light-blue-900: #01579b;
$light-blue-a100: #80d8ff;
$light-blue-a200: #40c4ff;
$light-blue-a400: #00b0ff;
$light-blue-a700: #0091ea;

$amber-50: #fff8e1;
$amber-100: #ffecb3;
$amber-200: #ffe082;
$amber-300: #ffd54f;
$amber-400: #ffca28;
$amber-500: #ffc107;
$amber-600: #ffb300;
$amber-700: #ffa000;
$amber-800: #ff8f00;
$amber-900: #ff6f00;
$amber-a100: #ffe57f;
$amber-a200: #ffd740;
$amber-a400: #ffc400;
$amber-a700: #ffab00;

$orange-50: #fff3e0;
$orange-100: #ffe0b2;
$orange-200: #ffcc80;
$orange-300: #ffb74d;
$orange-400: #ffa726;
$orange-500: #ff9800;
$orange-600: #fb8c00;
$orange-700: #f57c00;
$orange-800: #ef6c00;
$orange-900: #e65100;
$orange-a100: #ffd180;
$orange-a200: #ffab40;
$orange-a400: #f90;
$orange-a700: #ff6d00;
$orange-a900: #ff3d00;
$orange-a950: #965f3b;
$orange-a1000: #ff00;

// aplicacion colors
$white: #fff;
$white-50: #fffffe;
$white-100: #fffffd;
$white-200: #d6d6d6;
$white-100-fade: #fffffd05;

$icon-button-back: #F1761D;

$background: $indigo-50;
$background-light: $indigo-100;
$background-light-even: $indigo-200;
$background-light-tertiary: $white-50;
$background-light-tertiary-even: $indigo-50;
$background-light-hover: $indigo-300;
$background-dark: $indigo-700;
$background-dark-hover: $indigo-500;
$backgroung-contrast: $indigo-1000;

$menu-background: $indigo-900;//TODO
$menu-background-50: #08692260;//TODO
$menu-background-secondary: #82bf49;//TODO
$menu-background-contrast-70: $blue-gray-600;//TODO
$menu-background-contrast-50: $light-blue-100;//TODO

$background-sec: $light-blue-900;
$background-sec-hover: $light-blue-800;
$background-sec-contrast: $light-blue-700;

$background-tertiary: $orange-a400;
$background-tertiary-hover: $orange-a200;

$primary: $indigo-a700;

$text-primary: $tema-contrast-light;
$text-primary-disabled: $blue-gray-600;

$secondary: $light-blue-500;
$card-background: $blue-gray-300;
$card-background-pair: $blue-gray-200;
$card-color: $blue-gray-900;
$card-background-even: $blue-gray-400;
$card-icon-button: $light-blue-900;
$card-icon-button-hover: $orange-400;

$warning: $tema-dark;
$error: $orange-a900;
$success: $menu-background-secondary;//TODO
