@if(pj){
  <div class="u-flex u-flex-wrap margin-top u-border-all" [ngClass]="showRunes ? 'u-width-100' : ''  ">
    <p class="u-text-center u-width-100 padding-all group-header" (click)="switchShowDetails()">{{ "PJ.RUNES" | translate }} </p>
    @if(showRunes){
      <div class="u-width-100 u-flex">
        <div class="u-width-33 u-flex u-flex-column u-flex-space-center maximum-width padding-left">
          <div class="u-flex u-flex-space-around u-width-100">
            <app-rune [rune]="getRune(runesEnum.FIRE)" [elementalRune]="true"/>
          </div>
          <div class="u-flex u-flex-space-around u-width-100 central-elemental-row u-flex-center">
            <app-rune [rune]="getRune(runesEnum.AIR)" [elementalRune]="true"/>
            <app-rune [rune]="getRune(runesEnum.MOON)" [elementalRune]="true"/>
            <app-rune [rune]="getRune(runesEnum.DARKNESS)" [elementalRune]="true"/>
          </div>
          <div class="u-flex u-flex-space-center u-width-100">
            <app-rune [rune]="getRune(runesEnum.EARTH)" [elementalRune]="true" class="margin-right"/>
            <app-rune [rune]="getRune(runesEnum.WATER)" [elementalRune]="true"  class="margin-left"/>
          </div>
        </div>
        <div class="u-width-66 u-flex u-flex-column u-flex-space-center maximum-width">
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.MAN)"/></div>
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.FERTILITY)"/>-<app-rune [rune]="getRune(runesEnum.DEATH)"/></div>
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.HARMONY)"/>-<app-rune [rune]="getRune(runesEnum.DISORDER)"/></div>
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.TRUTH)"/>-<app-rune [rune]="getRune(runesEnum.ILLUSION)"/></div>
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.EXTAXIS)"/>-<app-rune [rune]="getRune(runesEnum.MOVEMENT)"/></div>
          <div class="u-flex u-flex-space-around u-width-100"><app-rune [rune]="getRune(runesEnum.BEAST)"/></div>
        </div>
      </div>

    }
  </div>
}


