<div class="input-wraper">
  <div class="input-body">
    <p class="label">{{ label }}</p>
    @if(!area) {
      @if(type === 'number') {
        <input
          [type]="type"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          [disabled]="control.disabled"
          (ngModelChange)="propagateChange($event)"
          (blur)="propagateTouched()"
          class="input-type-number">
      } @else {
        <input
          [type]="type"
          [placeholder]="placeholder"
          [(ngModel)]="value"
          [disabled]="control.disabled"
          (ngModelChange)="propagateChange($event)"
          (blur)="propagateTouched()">
      }
    } @else {
      <textarea
        [placeholder]="placeholder"
        [(ngModel)]="value"
        [maxlength]="maxTexAreaLength"
        [disabled]="control.disabled"
        (ngModelChange)="propagateChange($event)"
        (blur)="propagateTouched()">
      </textarea>
    }
  </div>

@if(control.invalid && control.touched){
  @for(error of getErrors(); track error) {
    <p class="error" >{{ error }}</p>
  }
}

</div>
